{% extends "mailings/base.html" %}
{% block title %}Сообщения{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Сообщения</h2>
    <a href="{% url 'mailings:message_create' %}" class="btn btn-primary">
        + Новое сообщение
    </a>
</div>

{% if object_list %}
<div class="row">
    {% for message in object_list %}
    <div class="col-md-6 mb-3">
        <div class="card shadow-sm h-100">
            <div class="card-body">
                <h5 class="card-title">{{ message.subject }}</h5>
                <p class="card-text text-muted">
                    {{ message.body|truncatechars:120 }}
                </p>
            </div>
            <div class="card-footer text-end bg-white">
                {% if object.owner == user or user.groups.all.0.name == "Менеджеры" %}
                    <a href="{% url 'mailings:message_update' message.pk %}" class="btn btn-sm btn-outline-secondary">
                    </a>
                    <a href="{% url 'mailings:message_delete' message.pk %}" class="btn btn-sm btn-outline-danger">
                        Удалить
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="alert alert-info text-center">
    Сообщений пока нет. Создайте первое
</div>
{% endif %}
{% endblock %}
